extends layout
block content 
    main(class="container")
        div(class="bg-light p-5 rounded")
            h1 Items Manager
            div(class="row")
                div(class="col-sm")
                    p(class="lead") Lost and Found items

            div(class="row")
                div(class="d-inline-flex p-2")
                    h3 Create new Item: 
                div(class="d-inline-flex p-2")
                    a(role="button" class="btn btn-outline-success" href="/createItem") Create New Item

            br

            table.table.table-striped
                thead
                    th Item Name
                    th Description
                    th Value
                    th Found By
                    th Date Found 
                    th Claimed By
                    th Date Claimed 
                    th Location 
                    th Category
                
                tbody
                    each d in Data
                        tr
                            td=d.item_name
                            td=d.item_description
                            td=d.approx_value
                            td=d.found_user_id
                            td=d.date_found 
                            td=d.claimed_user_id 
                            td=d.date_claimed
                            td=d.location_name
                            td=d.category_name

            


